/* a=0 b=0 c=1 -> Especificidad = 001 */
body {
    font: 400 15px Tahoma, sans-serif; /*Familia sans-serif*/
    line-height: 1.8;
    color: #818181;
    background-color: #fff;
}

/* a=0 b=0 c=1 -> Especificidad = 001 */
p, li, table {
    font-family: Georgia, serif;
    line-height: 1.8;
    color: #000000;
    background-color: lightgray;
}

/* a=0 b=0 c=1 -> Especificidad = 001 */
table {
    width: 100%;
}

/* a=0 b=0 c=1 -> Especificidad = 001 */
table, th, td{
    border: 1px solid black;
}

/* a=0 b=0 c=1 -> Especificidad = 001 */
th{
    font-family: Georgia, serif;
    line-height: 1.8;
    color: white;
    background-color: brown;
    text-align: center;
}

/* a=0 b=0 c=1 -> Especificidad = 001 */
li {
    list-style-type: circle;
    list-style-position: inside;
    padding: 4px;
}

/* a=0 b=0 c=1 -> Especificidad = 001 */
h1 {
    background-color:#000000; 
    color: #fff;
    text-transform: uppercase;
    padding: 10px 25px;
    text-align: center;     
    font-weight: bold;
    font-stretch: expanded;
    font-size: 3em;
}

/* a=0 b=0 c=1 -> Especificidad = 001 */
h2 {
    background-color:blue; 
    color: #fff;
    text-transform: uppercase;
    padding: 5px 25px;
    text-align: center; 
    font-weight: bold; 
    font-style: italic;  
    font-size: 2em; 
}

/* a=0 b=0 c=1 -> Especificidad = 001 */
p {
    text-align: justify;
}

/* a=0 b=1 c=1 -> Especificidad = 011 */
a:link {
    color: red;
}

/* a=0 b=1 c=1 -> Especificidad = 011 */
a:visited {
    color: blue;
}
