section {
    text-align: center;
    margin: 20px;
}

section h2 {
    color: #333;
    background-color: #fff;
    border: 2px solid #333;
    padding: 10px;
    display: inline-block;
}

section img {
    margin-bottom: 10px;
}

section p {
    color: #666;
    background-color: #fff;
    line-height: 1.4;
}
