h1{
    font-family: Garamond, sans-serif;
    color: black;
    text-align: left;
    font-size: 2.0em;
}

body {
    background-color: ivory;
}

input{
    font-size: large;
    padding: 3px;
    width: 80px;
    border-radius: 15px;
    text-align: center;
    background-color: #b63616;
}

input.viewer{
    font-size: large;
    padding: 3px;
    width: 95%;
    border-radius: 15px;
    text-align: right;
    background-color: #fffefe;
}

label{
    color: #43444d;
}

table{
    background-color: #43444d;
    border-radius: 15px;
}