body{
    background-color:white;
    color:black;
}
h1{
    text-align:center;
    color:green;
}

h2{
    text-align: left;
    color: blue
}

p{
    color:gray;
}

button {
    font-size: larger;
    padding: 3px;
    width: 80px;
    border-radius: 15px;
}

input {
	text-align: right;
}

footer{
       margin-top:2em;
    }

footer a img{
    height:31px; 
    width:88px;
}