body{
    background-color:white;
    color:black;
}

h1{
    text-align:left;
    color:red;
}
h2{
    text-align:left;
    color:green;
}
h3{
    text-align:left;
    color:blue;
}

h4{
    text-align:left;
    color:black;
}

h5{
    text-align:left;
    color: yellow;
}

p{
    color:gray;
}

button {
    font-size: larger;
    padding: 3px;
    width: 80px;
    border-radius: 15px;
}

table{
    background-color: #a8a8a8;
}