body{
    background-color:white;
    color:black;
}
h1{
    text-align:center;
    color:green;
}
p{
    color:gray;
}

button {
    font-size: larger;
    padding: 3px;
    width: 80px;
    border-radius: 15px;
}

input {
	text-align: right;
}

footer{
       margin-top:2em;
    }